:root{
    --gris: #f5f3f3;
    --blanco: #ffffff;
}
.bodoni-moda-sc {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  

html{
    font-size: 62.5%;
}
body{
    background-color: var(--gris);
}

/*Utilities*/

h1{
    text-align: center;
}
h2{
    font-size: 3rem;
}
h4{
    font-size: 2.3rem;
    font-weight: 700;
}

/*Header*/

.header{
    padding-top: 20px ;
    text-align: center;
    background-color: var(--blanco);
    
}

.header .row ul{
   
    margin: 0;
    
}
.logo-letters{
    display: inline-block;

}
.submenu{
    margin: 0;
}
li{
    text-decoration: none;
}
ul{
    list-style: none;
    
}

/*SubMenu*/
.submenu{
    position: relative;
    margin-top: 2rem;
}
#carrito{
    display: none;
}
.submenu:hover #carrito{
        right: 0;
        display: block;
        top: 100%;
        position: absolute;
        background-color: var(--blanco);
        min-height: 400px;
        min-width: 300px;
        padding: 20px;
        z-index: 1;

}
.borrar-curso{
    border-radius: 100%;
    background-color: red;
    padding: 0.5rem 1rem;
    color: var(--blanco);
    text-decoration: none;
}

/*Hero*/

#hero{
    background-image: url("../src/img/SL-103020-37400-21.jpg");
    background-repeat: no-repeat;
   
    background-size: cover;
    min-height: 25rem;
    display: flex;
    align-items: center;
    padding: 5rem;

}
#hero h2{
    font-size: 4rem;
}

#hero h2, p{
    color: var(--blanco);
}

.hero-content form{
    position: relative;
}
.hero-content #buscador{
    padding: 6px 10px;
    height: 50px;
    margin: 0;
}
.hero-content form #submit-buscador{
    position: absolute;
    background-image: url("../src/img/lupa.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0;
    height: 100%;
   display: block;
   width: 50px;
   right: 0;
   top: 0;
   text-indent: -9999px;
   border-style:none;
   border-width: initial;
   border-color: initial;
   border-image: initial;
   
}

/*Barra*/
.barra{
    background: linear-gradient(
        to right, rgb(116, 29, 81) 0%, rgb(228,78,82) 100%);
    padding: 2rem;
    text-align: center;
    font-weight: 400;
}

.barra p{
    margin: 0;
}

.icono{

    padding-left: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    justify-content: center;
}

.icono1{
    background-image: url(../src/img/icono1.png);
}
.icono2{
    background-image: url(../src/img/icono2.png);
}
.icono3{
    background-image: url(../src/img/icono3.png);
}


/*Lista de Cursos*/


#lista-cursos .title-courses{
    margin: 3rem 0;
}
#lista-cursos columns{
    margin: 0;
}
.card{
    background-color: white;
    margin-bottom: 2rem;
}
.card .portada{
    max-height: 150px;
    min-width: 150px;
}
.card-content{
    padding: 1rem 2rem;
}

.card-content h4{
    font-size: 16px;
}

.card-content p{
    color: black;
    margin-bottom: 5px;
}

.card-content .precio{
    font-size: 18px;
    margin-top: 10px;
    text-decoration: line-through;
}
.card-content span{
    font-weight: 700;
}

.agregar-carrito{
    margin-top: 10px;
}

/* Footer */

.footer{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #aaa;

}

.footer a{
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}